In [1]:
!pip install autofeat

In [1]:
# Устанавливаем все неоюходимые библиотеки
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from autofeat.autofeat import AutoFeatRegressor
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_excel('feautre.xlsx') #Подгружаем датасет

In [3]:
#В качетсве таргетного значения выберем topological polar surface area
y = data[['TPSA']]
X = data[['XLogP',   'ExactMass',  'MonoisotopicMass',  'Complexity',  'Charge', 'HBondDonorCount',  'HBondAcceptorCount',  'RotatableBondCount',  'HeavyAtomCount', 'FeatureAcceptorCount3D',  'FeatureDonorCount3D',  'FeatureAnionCount3D', 'FeatureCationCount3D',  'FeatureRingCount3D',  'FeatureHydrophobeCount3D', 'ConformerModelRMSD3D',  'EffectiveRotorCount3D',  'ConformerCount3D', 'MaxEStateIndex' ]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=50)

In [ ]:
model = AutoFeatRegressor(apply_pi_theorem=True, categorical_cols=None,
          feateng_cols=None, feateng_steps=2, featsel_runs=3,
          transformations=('exp', 'log', 'abs', 'sqrt', '^2', '^3', '1/'),)# указываем допустимый список трансформаций которые будет применять алгоритм
model

In [5]:
X_train_feature_creation = model.fit_transform(X_train.to_numpy(), y_train.to_numpy().flatten())

In [6]:
X_test_feature_creation = model.transform(X_test.to_numpy())

In [7]:
X_test_feature_creation.head()

,x000,x001,x002,x003,x004,x005,x006,x007,x008,x009,...,x015**3*log(x015),x006**2*sqrt(x017),x002**3*sqrt(x012),x010**3*sqrt(x011),sqrt(x017)*log(x015),sqrt(x007)*sqrt(x011),sqrt(x007)*sqrt(x009),sqrt(x011)*sqrt(x014),sqrt(x010)*sqrt(x014),sqrt(x003)*sqrt(x009)
0,0.40,26.015650,26.015650,8.0,0.0,0.0,0.0,0.0,2.0,0.0,...,-0.058643,0.0,0.000000,0.000000,-0.916291,0.000000,0.00000,0.0,0.0,0.000000
1,2.10,79.924056,79.924056,2.0,0.0,0.0,1.0,0.0,2.0,2.0,...,-0.058643,0.0,0.000000,0.000000,-0.000000,0.000000,0.00000,0.0,0.0,2.000000
2,1.44,57.958622,57.958622,2.0,0.0,0.0,1.0,0.0,2.0,2.2,...,-0.116991,0.0,123135.747071,0.323817,-0.000000,0.000000,0.00000,0.0,0.0,2.097618
3,-1.10,31.989829,31.989829,0.0,0.0,0.0,2.0,0.0,2.0,0.0,...,-0.058643,4.0,0.000000,0.000000,-0.916291,0.000000,0.00000,0.0,0.0,0.000000
4,-0.30,118.062994,118.062994,95.0,0.0,2.0,3.0,2.0,8.0,3.0,...,-0.058643,27.0,0.000000,1.000000,-2.748872,1.414214,2.44949,1.0,1.0,16.881943

In [8]:
X_train_feature_creation.head()

,x000,x001,x002,x003,x004,x005,x006,x007,x008,x009,...,x015**3*log(x015),x006**2*sqrt(x017),x002**3*sqrt(x012),x010**3*sqrt(x011),sqrt(x017)*log(x015),sqrt(x007)*sqrt(x011),sqrt(x007)*sqrt(x009),sqrt(x011)*sqrt(x014),sqrt(x010)*sqrt(x014),sqrt(x003)*sqrt(x009)
0,0.9,74.073165,74.073165,13.0,0.0,1.0,1.0,2.0,5.0,1.0,...,-0.058643,2.828427,0.000000e+00,0.0,-2.591662,0.00000,1.414214,0.0,1.0,3.605551
1,2.1,75.944142,75.944142,18.0,0.0,0.0,2.0,0.0,3.0,2.0,...,-0.058643,4.000000,0.000000e+00,0.0,-0.916291,0.00000,0.000000,0.0,0.0,6.000000
2,-4.6,427.029416,427.029416,638.0,0.0,6.0,14.0,6.0,27.0,8.0,...,0.315052,619.806421,1.557411e+08,27.0,0.576551,2.44949,6.928203,0.0,0.0,71.442284
3,2.1,79.924056,79.924056,2.0,0.0,0.0,1.0,0.0,2.0,2.0,...,-0.058643,0.000000,0.000000e+00,0.0,-0.000000,0.00000,0.000000,0.0,0.0,2.000000
4,2.0,143.845660,143.845660,2.0,0.0,0.0,0.0,0.0,2.0,0.0,...,-0.058643,0.000000,0.000000e+00,0.0,-0.000000,0.00000,0.000000,0.0,0.0,0.000000

In [9]:
X_train_feature_creation.shape[1] - X_train.shape[1]# Посмотрим количество новых дескрипторов

58

In [10]:
X_train_feature_creation.insert(0, 'TPSA', y_train)
#Обхединяем полученые  дескрипторы с выбранной таргетной величиной и выгружаем их

In [12]:
X_train_feature_creation.to_excel('feature_new.xlsx')
#Выгружаем полученный датасет